.cart > h4 {
  font-weight: 600;
  margin-bottom: 15px;
}
.cart {
  padding: 30px 20px;
}
.book-name {
  color: rgb(255, 51, 0);
}
.cart-img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}
.cart-btn {
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  border: none;
  background-color: rgb(185, 89, 109);
}
.cart-btn:hover {
  background-color: crimson;
  color: cyan;
}
